// variables
$primaryColor: #273df2;
$primaryColorLight: #2133c5;
$shade1: #e3e3e3;
$fade2: #45505b;
$fade3: #aaaaaa;
$fade4: #8e8e8e;
$fade5: #1c1c1c;
$descriptionTextColor: #717171;
$brownishColor: #560a0f;
$radius: 6px;
$titleDeep: #18191f;
$titleDark: #000;
$title: #444;
$fade555: #555555;
$paragraph: #999;
$usePurple: #05044e;
$useGreen: #37b34a;
$footerDark: #0b0d17;
$fadeText: #777;
$ease: 0.5s all ease;
$homeShadeBg: rgba(225, 225, 225, 0.1);
