body {
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

#root,
html,
body {
	min-height: 100%;
	width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

#signup-bg-img {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	// max-height: 900px;
	background-position: center;
	background-image: url("./assets/signup_image\ 2.svg");
}
